$whiteColor: white;
$d55Color: #FF3366;

    .mat-list-item a{
      color: $whiteColor;
      text-decoration: none;
    }
  

    .toolbar{
      color: $whiteColor;
      background-color: $d55Color;
    }
  
